@media(max-width:760px) {
    .show {
        color: white;
        background-color: black;
        display: table;
    }
    nav ul {
        position: absolute;
        right: 0px;
        display: none;
        width: 30vw;
        height: 100vh;
        background-color: black;
        z-index: 10;
    }
    nav ul li {
        text-align: center;
    }
    section {
        flex-wrap: wrap
    }
    ;
}

@media(min-width:761px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}