
@media(max-width:760px){
    nav ul{position: absolute;right: 0px;
      display:inline;width: 30vw;height: 100vh;background-color: black;z-index: 10;
    }
    nav ul li{text-align: center;}
   
}
@media(min-width:761px){
    nav ul{display: flex;flex-wrap: wrap;justify-content: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}}